<header class="header">
    <a href="#" class="logo">Portfolio.</a>

    <i class="fa-solid fa-bars" id="menu-icon"></i>

    <nav class="navbar">
        <a href="http://localhost:8080/">Home</a>
        <a href="http://localhost:8080/about">About</a>
        <a href="http://localhost:8080/skills">Skills</a>
        <a href="http://localhost:8080/projects">Projects</a>
        <a href="http://localhost:8080/contact">Contact</a>
        <a href="http://localhost:8080/services">Services</a>
    </nav>
</header>

<!-- <script>
    let menuIcon = document.querySelector('#menu-icon');
let navbar = document.querySelector('.navbar');

menuIcon.onclick = () => {
    menuIcon.classList.toggle('fa-xmark');
    navbar.classList.toggle('active')
};
</script> -->

