<header class="header">
    <a href="#" class="logo">Portfolio.</a>

    <i class="fa-solid fa-bars" id="menu-icon"></i>

    <nav class="navbar">
        <a href="https://portfolio-og4q.onrender.com/">Home</a>
        <a href="https://portfolio-og4q.onrender.com/about">About</a>
        <a href="https://portfolio-og4q.onrender.com/skills">Skills</a>
        <a href="https://portfolio-og4q.onrender.com/projects">Projects</a>
        <a href="https://portfolio-og4q.onrender.com/contact">Contact</a>
        <a href="https://portfolio-og4q.onrender.com/services">Services</a>
    </nav>
</header>



