<% layout("/layouts/boilerplate") %>
<section class="about" id="about">
    <div class="about-img">
        <img src="images/selfie.jpg" alt="">
    </div>

    <div class="about-content">
        <h2 class="heading">About <span>Me</span></h2>
        <h3>Hello, I'm Zeba..</h3>
        <p> Cultivated in the digital realms, I am a passionate full-stack web developer, 
            dedicated to crafting immersive online experiences. With a fervent love for both front-end 
            finesse and back-end mastery, I embark on every project with a blend of creativity and technical prowess. 
            From conceptualization to deployment, I thrive on bringing ideas to life through elegant code and innovative 
            solutions. Let's collaborate and elevate your digital presence together. With a commitment to staying ahead 
            of industry trends and a relentless drive for excellence, I continuously strive to push boundaries and exceed
             expectations in every endeavor.

        </p>
    </div>
</section>
