<% layout("/layouts/boilerplate") %>
<section class="home" id="home">
    <div class="home-content">
        <h3>Hi, I'm</h3>
        <h1>Zeba Katarki</h1>
        <h3>And I'm a <span class="multiple-text"></span></h3>
        <p>Mastering the art of full-stack wizardry and MERN sorcery, I enchant web experiences with captivating code and transformative technology.</p>
        <div class="social-media">
            <a href="https://www.linkedin.com/in/zebakatarki98/"><i class="fa-brands fa-linkedin-in"></i></a>
            <a href="https://github.com/zebakatarki"><i class="fa-brands fa-github"></i></a>
        </div>
        <a href="#" class="btn">Download CV</a>
    </div>

    <div class="home-img">
        <img src="images/selfie.jpg" alt="">
    </div>
</section>