<% layout("/layouts/boilerplate") %>

<!-- <h1 style="color: aliceblue;">Projects</h1> -->
<!--  services section design  -->
<section class="portfolio" id="portfolio">
    <h2 class="heading">Latest <span>Projects</span></h2>

    <div class="portfolio-container">
        <div class="portfolio-box">
            <img src="images/projectImage.jpg" alt="">
            <div class="portfolio-layer">
                <h4>Full-Stack Development</h4>
                <p>Destination Explorer.</p>
                <a href="https://wanderlust-jefw.onrender.com/"><i class="fa-solid fa-up-right-from-square"></i></a>
            </div>
        </div>

        <div class="portfolio-box">
            <img src="images/projectImage.jpg" alt="">
            <div class="portfolio-layer">
                <h4>JavaScript Game.</h4>
                <p>Memory-Mastermind.</p>
                <a href="https://memory-mastermind.netlify.app/"><i class="fa-solid fa-up-right-from-square"></i></a>
            </div>
        </div>

        <div class="portfolio-box">
            <img src="images/projectImage.jpg" alt="">
            <div class="portfolio-layer">
                <h4>MERN-Stack Development(Present)</h4>
                <p>Blog.</p>
                <a href="https://github.com/zebakatarki/MERN_Blog"><i class="fa-solid fa-up-right-from-square"></i></a>
            </div>
        </div>

        <div class="portfolio-box">
            <img src="images/projectImage.jpg" alt="">
            <div class="portfolio-layer">
                <h4>Web Development</h4>
                <p>EnrollConnect.</p>
                <a href="https://github.com/zebakatarki/EnrollConnect"><i class="fa-solid fa-up-right-from-square"></i></a>
            </div>
        </div>
         
    </div>
</section>