<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body>
    <!-- <div class="services-container"> -->
        <div class="thanks-box">
            <i class="fa-solid fa-code"></i>
            <h3>THANK YOU!</h3>
            <p>Appreciate your interest and i'll be in touch shortly.</p>
        </div>
    <!-- </div> -->
</body>
</html>